
body,
html {
    width: 100%;
    height: 100%;
    
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
	text-align:center;
}
/* 
body{ 
  background: linear-gradient(to bottom left, #3f5efb 0%, #ff8ab3 100%);
  overflow: hidden; 
  
}*/
.topnav {
  font-size: 14px; 
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

.header {
  padding-top: 50px; 
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../img/Niagara.jpg) no-repeat center center;
  background-size: cover;
  
}
.headerMessage {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.headerMessage h1 {
  margin: 0;

  
font: normal 16px/1 Impact, Charcoal, sans-serif;
color:rgba(239,234,234,1);
padding-top: 5%;
font-size: 7em;
text-shadow: 5px 2px 1px rgba(0,0,0,1);
}

#myNavBar{
	
  border-color: rgba(34, 34, 34, 0.05);
  background-color: black;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  
  
}
#profilePicImg {
  
  border-style: solid ;
  border-width: 8px;
  border-image: linear-gradient(76deg, rgb(63 94 251), rgb(227 118 130)) 1;
  padding: 10px;
  /* transition: 2.5s linear; */
}

.aboutMe h2{ 
  padding-top: 40px;
}
.text-faded {
  
  color: rgb(255, 255, 255);
}

section {
  
  padding: 100px 0; 

}
/* p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px; } */

  
  .bg-primary {
    /* background-color: #F05F40 !important; */
    background: linear-gradient(to bottom left, #3f5efb 0%, #ff8ab3 100%) !important;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding-top: 10%;
    padding-bottom: 10%;
  
  
  }

section #aboutMe{
	
    
  padding: 10px;
  
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	width: 50%;
    
}


.section-heading {

  margin-left:auto;
margin-right:auto;
  margin-top: 0; 
}

.no-padding {
  padding: 0; }

::-moz-selection {
  color: white;
  background: #222222;
  text-shadow: none; }





.projectA{
	
   /* background: url(../img/IMG_20170512_114017.jpg) no-repeat center center;
    */
	font-family:Courier New;
	padding-bottom: 200px;
	background-size: cover;
}


.img-circle{
	margin:0 auto;
	
}




.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: #2e2e1f;
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h3 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  margin:0px;
}

.hovereffect p.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: 7px;
}

.hovereffect:hover p.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect p.info:hover {
  box-shadow: 0 0 25px #000000;
}






/* .headerMessage h3 {
	font: normal 16px/1 Impact, Charcoal, sans-serif;
	color:rgba(239,234,234,1);
	padding-top: 5%;
	font-size: 3em;
	text-shadow: 5px 2px 1px rgba(0,0,0,1);
} */

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}



@media(max-width:767px) {
    .headerMessage {
        padding-bottom: 15%;
    }

    .headerMessage  h1 {
        font-size: 3em;
    }

    ul.headerSocialBtn  li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.headerSocialBtn  li:last-child {
        margin-bottom: 0;
    }

    .headerDivider {
        width: 100%;
    }
}

.btnContactFirst {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}


.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/IMG_20161217_124704.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}


@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

}
footer {
    padding: 10px ;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}


